.messages-container {
  text-align: left;
  padding-left: 3em;
}

.message-author,
.message-date {
  font-size: 9px;
  font-weight: 600;
  text-align: left;
  display: block;
}

.messages-container li {
  list-style-type: none;
  display: block;
  margin-bottom: 1em;
}

.messages-container li a {
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  color: #2b2b2b;
}

.messages-container li a:hover {
	color: rgb(29,161,242);;
}

.sort-btn {
  background-color: rgb(29,161,242);
  border-radius: 17px;
  width: 140px;
  height: 35px;
  border: none;
  margin: 0.5em;
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin-left: 0px;
}