.navigation-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.navbar-wrapper {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
}

.user-display {

}

.navbar-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  align-items: center;
}

.navbar-list li {
  margin-right: 0.5em;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #2b2b2b;
}

.navbar-list li:hover {
  color: rgb(29,161,242);;
}

.navbar-list li a {
  text-decoration: none;
  color: #2b2b2b;
  cursor: pointer;
}

.navbar-list li a:hover {
  color: rgb(29,161,242);;
  border-bottom: 3px solid rgb(29,161,242);; 
}

.user-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.user-display p {
  text-align: left;
  margin: 0px;
  padding: 3px 0px 0px 5px;
}

h3 {
  margin: 0px;
  padding: 0px;
}

.user-avatar {
  height: 50px;
  width: 60px;
  background-color: rgb(29, 161, 242);
  border-radius: 30px;
  color: rgb(255, 255, 255);;
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
}

.user-name {
  vertical-align: middle;
  float: right;
}